body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.map {
  height: 100%;
}
