@import '../../app-consts';

.AreaInfo {
  max-width: calc(100vw - #{$leaflet-control-zoom-width + $leaflet-control-margin * 3 + $leaflet-control-padding-horizontal * 2});

  // avoids map selection if a cursor goes to the right or above the element
  &::after {
    position: absolute;
    z-index: -1;
    top: -$leaflet-control-margin;
    right: -$leaflet-control-margin;
    left: 0;
    bottom: 0;

    content: '';
  }
}

.AreaInfo__section {
  margin: 10px 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.AreaInfo__close-button {
  font: inherit;
  line-height: 10px;

  margin-left: 10px;
  padding: 0;

  transform: scale(1.2);

  border: none;
  outline: none;
  color: var(--body-color);
  background-color: transparent;

  &:hover {
    transform: scale(1.4);
  }
}

.AreaInfo__header {
  font-weight: bold;

  display: flex;
  align-items: center;

  color: var(--area-info-header-color);
}

.AreaInfo__stats-separator {
  font-size: 10px;

  color: var(--area-info-header-color);
}

.AreaInfo__area-flag {
  // Size should be at least integer, better a common multiple of 2 and 3,
  // since many flags consist of 2 or 3 equally sized horizontal or vertical bands.
  // Otherwise SVG looks blurry (a browser tries to map colors to pixels).

  width: 18px;
  height: 18px;
  margin-right: 6px;

  background-repeat: no-repeat;
}

.AreaInfo__artist {
  line-height: 16px; // keeps the height of "tr" elements as even value, important for centering rank medals vertically

  td {
    padding: 2px;
  }
}

.AreaInfo__artist-list {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  max-height: calc(100vh - 220px); // "220" is a magic const here - a sum of heights of all other elements in a column
  padding-right: $scrollbar-width; // compensates the scrollbar
}

.AreaInfo__artist-rank {
  font-size: 10px;

  position: relative;

  text-align: right;

  color: var(--list-item-color);

  .AreaInfo__artist:hover & {
    color: var(--list-item-color--hover);
  }
}

.AreaInfo__artist-rank--medal {
  &::before {
    // dimensions should have even values in order to properly center it vertically

    position: absolute;
    top: calc(50% - 6px);
    left: 0;

    width: 8px;
    height: 8px;

    content: '';

    border: 2px solid var(--area-rank-border-color);
    border-radius: 50%;
  }

  &-1::before {
    background-color: gold;
  }

  &-2::before {
    background-color: silver;
  }

  &-3::before {
    background-color: #8c7853;
  }
}

.AreaInfo__artist-playcount {
  text-align: right;
}

.AreaInfo__artist-name {
  overflow: hidden;

  max-width: 220px;

  white-space: nowrap;
  text-overflow: ellipsis;
}
