@import '../../app-consts';

.CountryList {
  transition-property: opacity, transform;
  transform: translate(0, 80%);

  opacity: 0.8;

  // overriding ".PlaycountMap__control" padding with only the "vertical" value,
  // because its immediate children are rectangular blocks (not plain text) so it looks better symmetrically
  &.leaflet-control {
    padding: $leaflet-control-padding-vertical-block;
  }

  &:hover {
    transform: translate(0, 0);

    opacity: 1;
  }

  // avoids map selection if a cursor goes to the left or below the element
  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: -$leaflet-control-margin;
    left: -$leaflet-control-margin;

    content: '';
  }
}

.CountryList__country-list {
  overflow: auto;

  max-height: calc(100vh - #{$leaflet-control-zoom-height + $leaflet-control-margin * 3 + $leaflet-control-padding-vertical-block * 2});
  padding-right: $scrollbar-width; // compensates the scrollbar
}

.CountryList__country {
  position: relative;

  display: flex;
  align-items: center;

  overflow: hidden;

  margin: 0.6em 0;
  padding-right: 6px;

  cursor: default;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .CountryList[disabled] & {
    pointer-events: none; // prevents from highlighting many countries while the cursor stays but the legend moves
  }
}

@keyframes slideIn {
  from {
    right: 100%;
  }

  to {
    right: 0;
  }
}

.CountryList__country-scale-container {
  position: absolute;
  z-index: 1; // keeping ".CountryList__country-rank" below, important for ignoring its border
  top: 2px;
  bottom: 2px;
  left: 26px;

  .CountryList:hover & {
    animation-name: slideIn;
    animation-fill-mode: forwards;
  }

  .CountryList__country:hover & {
    top: 0;
    bottom: 0;
  }
}

.CountryList__country-scale {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  opacity: 0.4;

  &--top {
    bottom: 50%;
  }

  &--bottom {
    top: 50%;
  }
}

@mixin Ledend__country-rank-medal($color) {
  position: absolute;
  top: -7px;
  left: -7px;

  width: 10px;
  height: 10px;

  content: '';

  border: 2px solid var(--country-rank-border-color);
  border-radius: 50%;
  background-color: $color;
}

.CountryList__country-rank {
  // playing with "background-clip" avoids subpixel extension of "background-color" over the border
  // (strangely it appears depending on the "max-height" value of the ".CountryList__country-list")

  font-size: 10px;
  line-height: 24px;

  position: relative;

  flex-shrink: 0;

  box-sizing: border-box;

  width: 28px;
  height: 28px;
  padding-right: 0.2em;

  text-align: right;

  border: 2px solid var(--country-rank-border-color);
  background-clip: padding-box;

  .CountryList__country:nth-child(1) & {
    &::before {
      @include Ledend__country-rank-medal(gold);
    }
  }

  .CountryList__country:nth-child(2) & {
    &::before {
      @include Ledend__country-rank-medal(silver);
    }
  }

  .CountryList__country:nth-child(3) & {
    &::before {
      @include Ledend__country-rank-medal(#8c7853);
    }
  }

  .CountryList__country:hover & {
    border-color: transparent;
    background-clip: border-box; // to show the border with the same color as "background-color"
  }
}

.CountryList__country-flag {
  position: absolute;
  bottom: -7px;
  left: -7px;

  width: 10px;
  height: 10px;

  border: 2px solid var(--country-rank-border-color);
  border-radius: 50%;
  background-repeat: no-repeat;

  .CountryList__country:hover & {
    bottom: -4px;
    left: -4px;

    width: 50%;
    height: 50%;

    border-radius: 0;
  }
}

.CountryList__country-name,
.CountryList__country-stats {
  z-index: 2; // keeping ".CountryList__country-scale-container" below, important for text color and "title" attribute

  white-space: nowrap;
}

.CountryList__country-name {
  margin: 0 10px;
}

.CountryList__country-stats {
  color: var(--list-item-color);

  .CountryList__country:hover & {
    color: var(--list-item-color--hover);
  }

  > * {
    margin: 0 4px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
