@import '../app-consts';

.PlaycountMap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.PlaycountMap__control {
  font-family: monospace;
  font-size: 13px;

  padding: $leaflet-control-padding;

  background-color: var(--control-background-color);
}
