@import '../../app-consts';

.AreaInfo__section {
  margin: 1em 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.AreaInfo__close-button {
  font: inherit;
  line-height: 1em;

  margin-left: 1em;
  padding: 0;

  transform: scale(1.2);

  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    transform: scale(1.4);
  }
}

.AreaInfo__header {
  font-weight: bold;

  display: flex;
  align-items: center;

  color: #444;
}

.AreaInfo__area-flag {
  // Size should be at least integer, better a common multiple of 2 and 3,
  // since many flags consist of 2 or 3 equally sized horizontal or vertical bands.
  // Otherwise SVG looks blurry (a browser tries to map colors to pixels).

  width: 18px;
  height: 18px;
  margin-right: 6px;

  background-repeat: no-repeat;
}

.AreaInfo__artist {
  line-height: 16px; // keeps the height of "tr" elements as even value, important for centering rank medals vertically

  td {
    padding: 2px;
  }
}

.AreaInfo__artist-list {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  max-height: calc(100vh - 320px); // "320" is a magic const here - a sum of heights of all other elements in a column
  margin-top: 1em;
  padding-right: $scrollbar-width; // compensates the scrollbar
}

.AreaInfo__artist-rank {
  font-size: 10px;

  position: relative;

  text-align: right;

  color: #888;

  .AreaInfo__artist:hover & {
    color: #444;
  }
}

.AreaInfo__artist-rank--medal {
  &::before {
    // dimensions should have even values in order to properly center it vertically

    position: absolute;
    top: calc(50% - 6px);
    left: 0;

    width: 8px;
    height: 8px;

    content: '';

    border: 2px solid white;
    border-radius: 50%;
  }

  &-1::before {
    background-color: gold;
  }

  &-2::before {
    background-color: silver;
  }

  &-3::before {
    background-color: #8c7853;
  }
}

.AreaInfo__artist-playcount {
  text-align: right;
}

.AreaInfo__artist-name {
  overflow: hidden;

  max-width: 16em;

  white-space: nowrap;
  text-overflow: ellipsis;
}
