@import '../../app-consts';

.ExternalLinkList {
  transition-property: opacity, transform;
  transform: translate(80%, 0);

  opacity: 0.8;

  &:hover {
    transform: translate(0, 0);

    opacity: 1;
  }

  // to avoid jumping if a cursor goes to the right of the element
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;

    width: $leaflet-control-margin;

    content: '';
  }
}
