.InfoBox__section {
  margin: 1em 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--header {
    display: flex;
    justify-content: space-between;
  }
}

.InfoBox__close-button-container {
  margin-right: -0.4em;
  margin-left: 1em;
  padding: 0 0.4em;
}

.InfoBox__close-button {
  font: inherit;

  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    transform: scale(1.2);
  }
}

.InfoBox__header {
  font-weight: bold;

  display: flex;
  align-items: center;

  color: #444;
}

.InfoBox__area-flag {
  // Size should be at least integer, better a common multiple of 2 and 3,
  // since many flags consist of 2 or 3 equally sized horizontal or vertical bands.
  // Otherwise SVG looks blurry (a browser tries to map colors to pixels).

  width: 18px;
  height: 18px;
  margin-right: 6px;

  background-repeat: no-repeat;
}

.InfoBox__artist-list {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  max-height: calc(100vh - 340px);
  margin-top: 1em;
  padding-right: 1em; // compensates the scrollbar
}

.InfoBox__artist-rank {
  font-size: 10px;

  position: relative;

  text-align: right;

  color: #888;

  .InfoBox__artist:hover & {
    color: #444;
  }
}

.InfoBox__artist-rank--medal {
  &::before {
    position: absolute;
    top: calc(50% - 6px);
    left: 0;

    width: 7px;
    height: 7px;

    content: '';

    border: 2px solid white;
    border-radius: 50%;
  }

  &-1::before {
    background-color: gold;
  }

  &-2::before {
    background-color: silver;
  }

  &-3::before {
    background-color: #8c7853;
  }
}

.InfoBox__artist-playcount {
  text-align: right;
}

.InfoBox__artist-name {
  overflow: hidden;

  max-width: 16em;

  white-space: nowrap;
  text-overflow: ellipsis;
}
