.InfoBox__section {
  margin: 1em 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.InfoBox__header {
  font-weight: bold;
}

.InfoBox__artist-list {
  margin-top: 1em;
}

.InfoBox__artist-rank {
  font-size: smaller;

  color: #444;
}
