.Legend {
  transition-property: opacity, transform;
  transform: translate(0, 80%);

  opacity: 0.8;

  // overriding ".PlaycountMap__control" padding,
  // because "em" values lead to subpixel offsets of children elements
  &.leaflet-control {
    padding: 12px;
  }

  &:hover {
    transform: translate(0, 0);

    opacity: 1;
  }

  // to avoid jumping if a cursor goes below the element
  &::after {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    height: 10px; // ".leaflet-control" offset

    content: '';
  }
}

.Legend__area-list {
  overflow: auto;

  max-height: calc(100vh - 140px);
  padding-right: 1em; // compensates the scrollbar
}

.Legend__area {
  position: relative;

  display: flex;
  align-items: center;
  overflow: hidden;

  margin: 0.6em 0;
  padding-right: 6px;

  cursor: default;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .Legend[disabled] & {
    pointer-events: none; // prevents from highlighting many countries while the cursor stays but the legend moves
  }
}

@keyframes slideIn {
  from {
    right: 100%;
  }

  to {
    right: 0;
  }
}

.Legend__area-scale-container {
  position: absolute;
  z-index: 1; // keeping ".Legend__area-rank" below, important for ignoring its border
  top: 2px;
  bottom: 2px;
  left: 26px;

  .Legend:hover & {
    animation-name: slideIn;
    animation-fill-mode: forwards;
  }

  .Legend__area:hover & {
    top: 0;
    bottom: 0;
  }
}

.Legend__area-scale {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  opacity: 0.4;

  &--top {
    bottom: 50%;
  }

  &--bottom {
    top: 50%;
  }
}

@mixin Ledend__area-rank-medal($color) {
  position: absolute;
  top: calc(-20% - 2px);
  left: calc(-20% - 2px);

  width: 40%;
  height: 40%;

  content: '';

  border: 2px solid white;
  border-radius: 50%;
  background-color: $color;
}

.Legend__area-rank {
  font-size: 10px;
  line-height: 24px;

  position: relative;

  box-sizing: border-box;

  width: 28px;
  min-width: 28px;
  height: 28px;
  padding-right: 0.2em;

  text-align: right;

  border: 2px solid white;

  .Legend__area:nth-child(1) & {
    &::before {
      @include Ledend__area-rank-medal(gold);
    }
  }

  .Legend__area:nth-child(2) & {
    &::before {
      @include Ledend__area-rank-medal(silver);
    }
  }

  .Legend__area:nth-child(3) & {
    &::before {
      @include Ledend__area-rank-medal(#8c7853);
    }
  }

  .Legend__area:hover & {
    border-color: transparent;
  }
}

.Legend__area-flag {
  position: absolute;
  bottom: calc(-20% - 2px);
  left: calc(-20% - 2px);

  width: 40%;
  height: 40%;

  border: 2px solid white;
  border-radius: 50%;
  background-repeat: no-repeat;

  .Legend__area:hover & {
    bottom: -4px;
    left: -4px;

    width: 50%;
    height: 50%;

    border-radius: 0;
  }
}

.Legend__area-name,
.Legend__area-stats {
  z-index: 2; // keeping ".Legend__area-scale-container" below, important for text color and "title" attribute

  margin: 0 0.4em;

  white-space: nowrap;
}

.Legend__area-stats {
  margin-right: 1em;

  color: #888;

  .Legend__area:hover & {
    color: #444;
  }
}
