.Legend {
  opacity: 0.8;
  transform: translate(0, 80%);
  transition: opacity 200ms, transform 200ms;

  &:hover {
    opacity: 1;
    transform: translate(0, 0);
  }

  // to avoid jumping if a cursor goes below the element
  &::after {
    content: '';

    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    height: 10px; // ".leaflet-control" offset
  }
}

.Legend__area-list-item {
  display: flex;

  margin: 0.6em 0;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.Legend__area-color {
  width: 20px;
  height: 20px;

  margin-right: 0.4em;
}
