.Legend {
  transition-property: opacity, transform;
  transform: translate(0, 80%);

  opacity: 0.8;

  &:hover {
    transform: translate(0, 0);

    opacity: 1;
  }

  // to avoid jumping if a cursor goes below the element
  &::after {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    height: 10px; // ".leaflet-control" offset

    content: '';
  }
}

.Legend__area-list {
  overflow: auto;

  max-height: 72vh;
}

.Legend__area {
  display: flex;

  margin: 0.6em 0;

  cursor: default;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  .Legend[disabled] & {
    pointer-events: none;
  }
}

.Legend__area-color {
  box-sizing: border-box;

  width: 20px;
  height: 20px;

  margin-right: 0.4em;

  border: 2px solid #fff;

  .Legend__area:hover & {
    border-color: #abc;
  }
}

.Legend__area-stats {
  color: #888;

  .Legend__area:hover & {
    color: #444;
  }
}
