html {
  --body-color: #222;
  --body-background-color: #d1d1d1;
  --control-background-color: rgba(255, 255, 255, 0.9);
  --control-background-color--hover: rgba(245, 245, 245, 0.9);
  --zoom-control-separator-color: #ccc;
  --link-color: #ee7c74;
  --country-info-header-color: #444;
  --list-item-color: #888;
  --list-item-color--hover: #444;
  --country-rank-border-color: white;

  @media (prefers-color-scheme: dark) {
    --body-color: #bbb;
    --body-background-color: #222;
    --control-background-color: rgba(70, 70, 70, 0.9);
    --control-background-color--hover: rgba(60, 60, 60, 0.9);
    --zoom-control-separator-color: #222;
    --link-color: #e84;
    --country-info-header-color: #ccc;
    --list-item-color: #aaa;
    --list-item-color--hover: #ccc;
    --country-rank-border-color: #333;
  }
}
