@import './app-themes';

body {
  margin: 0;

  color: var(--body-color);
  background-color: var(--body-background-color);
}

p {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .leaflet-container & {
    color: var(--link-color);
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

td {
  padding: 0.2em;
}

.leaflet-container {
  background-color: var(--body-background-color);

  .leaflet-control-zoom a,
  .leaflet-control-attribution {
    color: var(--body-color);
    background-color: var(--control-background-color);
  }

  .leaflet-control-zoom a {
    border-bottom-color: var(--zoom-control-separator-color);
  }

  .leaflet-control-zoom a:hover {
    background-color: var(--control-background-color--hover);
  }
}

