body {
  margin: 0;

  color: #222;
}

p {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

td {
  padding: 0.2em;
}
